.chtools {
    position: relative;
    background-color: yellow;
    min-height: 300px;
}
.chcanvas {
    position: relative;
    border: 1px;
    background-color: wheat;
    min-height: 300px;
}
.chnode {
    position: absolute;
    min-height: 50px;
    min-width: 50px;
    background-color: yellow;
}

.crossed {
    background:
    linear-gradient(to top left,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) calc(50% - 0.8px),
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) calc(50% + 0.8px),
    rgba(0,0,0,0) 100%),
    linear-gradient(to top right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) calc(50% - 0.8px),
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) calc(50% + 0.8px),
    rgba(0,0,0,0) 100%);
}