.work-area{
    padding: 0;
}
.chtools {
    position: relative;
    padding: 0;
    border: 1px black solid;
    min-height: 300px;
}
.chcanvas {
    position: relative;
    padding-left: auto;
    padding-right: auto;
    border: 1px black solid;
    min-height: 300px;
}
.chsolutions {
    position: relative;
    padding: 10px;
    border: 1px black solid;
    min-height: 300px;
}

.chnode {
    border: 1px groove;
    display: inline-block;
    min-height: 80px;
    min-width: 80px;
    max-width: 80px;
}


.crossed {
    background:
    linear-gradient(to top left,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) calc(50% - 0.8px),
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) calc(50% + 0.8px),
    rgba(0,0,0,0) 100%),
    linear-gradient(to top right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) calc(50% - 0.8px),
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) calc(50% + 0.8px),
    rgba(0,0,0,0) 100%);
}