.chtools {
    position: relative;
    border: 1px black solid;
    min-height: 300px;
}
.chcanvas {
    position: relative;
    border: 1px black solid;
    min-height: 300px;
}
.chsolutions {
    position: relative;
    border: 1px black solid;
    min-height: 300px;
}

.chnode {
    min-height: 100px;
    min-width: 100px;
   max-width: 100px;
}


.crossed {
    background:
    linear-gradient(to top left,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) calc(50% - 0.8px),
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) calc(50% + 0.8px),
    rgba(0,0,0,0) 100%),
    linear-gradient(to top right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,0) calc(50% - 0.8px),
    rgba(0,0,0,1) 50%,
    rgba(0,0,0,0) calc(50% + 0.8px),
    rgba(0,0,0,0) 100%);
}